<!-- file -->
<settings>
	<attributes>
		<tab><![CDATA[<?php _e( 'Attributes', 'MailPress' ); ?>]]></tab>
		<help><![CDATA[<p><?php _e( 'Html attributes to be included in that field.', 'MailPress' ); ?></p>]]></help>
		<items>
			<type>
				<radio>
					<text>type=</text>
					<values><![CDATA[<?php echo serialize( array( 'file' => '"file"' ) ); ?>]]></values>
					<disabled><![CDATA[<?php echo serialize( array( 'file' ) ); ?>]]></disabled>
					<default>file</default>
				</radio>
				<hidden>
					<value>file</value>
				</hidden>
			</type>
		</items>
		<items>
			<size>
				<select_num>
					<text>size=</text>
					<min>1</min>
					<max>100</max>
					<default>22</default>
				</select_num>
			</size>
		</items>
		<items>
			<class><text></text></class>
		</items>
		<items>
			<style><text></text></style>
		</items>
		<items>
			<is>
				<is>
					<values><![CDATA[<?php echo serialize( array( 'disabled' ) ); ?>]]></values>
					<disabled><![CDATA[<?php echo serialize( array() ); ?>]]></disabled>
				</is>
			</is>
		</items>
		<items>
			<misc><misc><![CDATA[<?php _e( "other attributes except 'name' & 'id'", 'MailPress' ); ?>]]></misc></misc>
		</items>
	</attributes>
	<controls>
		<tab><![CDATA[<?php _e( 'Controls', 'MailPress' ); ?>]]></tab>
		<help><![CDATA[<p><?php _e( 'Basic controls and some Html attributes to be modified when field is on error.', 'MailPress' ); ?></p>]]></help>
		<items>
			<required>
				<checkbox>
					<text><![CDATA[<?php _e( 'Required', 'MailPress' ); ?>]]></text>
					<value>1</value>
					<disabled>0</disabled>
					<class>controls</class>
				</checkbox>
			</required>
		</items>
	</controls>
<?php if ( $this->field->form_incopy ) : ?>
	<options>
		<tab><![CDATA[<?php _e( 'Options', 'MailPress' ); ?>]]></tab>
		<help><![CDATA[<p><?php _e( 'In copy : does this field need to be in the mail if a copy is required ?', 'MailPress' ); ?></p>]]></help>
		<items>
			<incopy>
				<checkbox>
					<text><![CDATA[<?php _e( 'In copy', 'MailPress' ); ?>]]></text>
					<value>1</value>
					<disabled>0</disabled>
				</checkbox>
			</incopy>
		</items>
<?php if ( $protected ) : ?>
		<hiddens>
			<protected></protected>
		</hiddens>
<?php endif; ?>
	</options>
<?php endif; ?>
</settings>