<!-- radio -->
<settings>
	<attributes>
		<tab><![CDATA[<?php _e( 'Attributes', 'MailPress' ); ?>]]></tab>
		<help><![CDATA[<p><?php _e( 'For radio button, you need to create at least two different &#8820;Radio Button&#8821; fields with the same &#8820;name&#8821; but different &#8820;value&#8821;.', 'MailPress' ); ?></p><p><?php _e( 'Hml attributes to be included in that field.', 'MailPress' ); ?></p>]]></help>
		<items>
			<type>
				<radio>
					<text>type=</text>
					<values><![CDATA[<?php echo serialize( array( 'radio' => '"radio"' ) ); ?>]]></values>
					<disabled><![CDATA[<?php echo serialize( array( 'radio' ) ); ?>]]></disabled>
					<default>radio</default>
				</radio>
				<hidden>
					<value>radio</value>
				</hidden>
			</type>
		</items>
		<items>
			<name><text></text></name>
		</items>
		<items>
			<value><text></text></value>
		</items>
		<items>
			<class><text></text></class>
		</items>
		<items>
			<style><text></text></style>
		</items>
		<items>
			<is>
				<is>
					<values><![CDATA[<?php echo serialize( array( 'checked', 'disabled' ) ); ?>]]></values>
					<disabled><![CDATA[<?php echo serialize( array() ); ?>]]></disabled>
				</is>
			</is>
		</items>
		<items>
			<misc><misc><![CDATA[<?php _e( "other attributes except 'id'", 'MailPress' ); ?>]]></misc></misc>
		</items>
	</attributes>
	<controls>
		<tab><![CDATA[<?php _e( 'Controls', 'MailPress' ); ?>]]></tab>
		<help><![CDATA[<p><?php _e( 'Basic controls and some Html attributes to be modified when field is on error.', 'MailPress' ); ?></p>]]></help>
		<items>
			<required>
				<checkbox>
					<text><![CDATA[<?php _e( 'Required', 'MailPress' ); ?>]]></text>
					<value>1</value>
					<disabled>0</disabled>
					<class>controls</class>
				</checkbox>
			</required>
		</items>
	</controls>
<?php if ( $this->field->form_incopy ) : ?>
	<options>
		<tab><![CDATA[<?php _e( 'Options', 'MailPress' ); ?>]]></tab>
		<help><![CDATA[<p><?php _e( 'In copy : does this field need to be in the mail if a copy is required ?', 'MailPress' ); ?></p>]]></help>
		<items>
			<incopy>
				<checkbox>
					<text><![CDATA[<?php _e( 'In copy', 'MailPress' ); ?>]]></text>
					<value>1</value>
					<disabled>0</disabled>
				</checkbox>
			</incopy>
		</items>
<?php if ( $protected ) : ?>
		<hiddens>
			<protected></protected>
		</hiddens>
<?php endif; ?>
	</options>
<?php endif; ?>
</settings>